/* Estilos para el contenedor de información */
.contenido .info {
    display: flex;
    justify-content: center;
}

/* Estilos para la tabla del juego */
.juego table {
    display: inline-block;
}

/* Estilos para los botones de la tabla del juego */
.juego table button {
    width: 30px; /* Ancho de 30 píxeles */
    height: 30px; /* Alto de 30 píxeles */  
}

/* Estilos para las celdas que contienen una bandera */
.bandera {
    background-image: url('bandera.jpg'); /* Ruta de la imagen de la bandera */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent; /* Texto transparente para ocultar números en celdas con bandera */
    cursor: pointer; /* Cambia el cursor al pasar sobre celdas con bandera */
}

/* Estilos para las celdas que aún no han sido reveladas */
.celda-tapada {
    background-color: #ccc; /* Color de fondo gris */
    color: transparent; /* Texto transparente para ocultar números en celdas reveladas */
    cursor: pointer; /* Cambia el cursor al pasar sobre celdas tapadas */
}

/* Estilos para las celdas que contienen una mina oculta */
.mina-oculta {
    background-image: url('mina.png'); /* Ruta de la imagen para celda oculta con mina */
    background-repeat: no-repeat;
    background-color: #ccc; /* Color de fondo gris */
   
}

.game-image {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}
.swal2-popup {
    font-family: 'Arial', sans-serif;
}
.swal2-header {
    padding: 20px;
    text-align: center;
}
.swal2-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.swal2-content {
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
}
.swal2-confirm {
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.swal2-confirm.success {
    background-color: #4CAF50; /* Color de fondo verde */
    color: #FFF; /* Color del texto blanco */
    border: none;
}
.swal2-confirm.error {
    background-color: #FF5722; /* Color de fondo naranja */
    color: #FFF; /* Color del texto blanco */
    border: none;
}
.swal2-confirm:hover {
    opacity: 0.8; /* Opacidad reducida al pasar el ratón */
}